<head>

  <%= stylesheet_link_tag 'manager', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<div class="right">
  <h1>
    Account management
  </h1>
  <div class="search managerAccount">
    <form action="#">
      <input type="text" placeholder="Search account">
      <button type="submit">
        <%= image_tag("search.png") %>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th>Account ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Disable</th>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36 trinhthehoan989</td>
      <td>
        <a href="#">Disable</a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>

    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td>
        <a href="#">Disable</a>
      </td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
    <tr>
      <td>0001</td>
      <td>trinhthehoan989@gmail.com</td>
      <td>Hoan 36</td>
      <td><a href="#">Disable</a></td>
    </tr>
  </table>

  <div class="paging">
    <a>
      <i class="fa fa-caret-left"></i>
    </a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a>
      <i class="fa fa-caret-right"></i>
    </a>

  </div>

  <div class="end">
  </div>
</div>