<head>
  <%= stylesheet_link_tag 'path', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'manager_video', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div #app1 class="right">
  <h1>
    Change careerpath
  </h1>
  <form action="#">
    <select onchange="this.form.submit()">
      <option>Lập trình java cơ bản</option>
      <option>Lập trình java nâng cao</option>
      <option>Lập trình CSD</option>
    </select>
  </form>
  <!-- <form> -->
  <div class="show_lo">
    <label class="container_input">Java
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Java Script
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">HTML
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Css
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">C#
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Fundamental
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Java
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Java Script
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">HTML
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Css
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">C#
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <label class="container_input">Fundamental
      <input type="checkbox" name="isfree" checked="">
      <span class="checkmark"></span>
    </label>
    <button id="submit" class="submit" type="submit">Save</button>
  </div>

  <!-- </form> -->



  <div class="end">
  </div>
</div>



