<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
      <a href="#">
        <i style="color: #2bc3cc;" class="fa fa-home"></i> Home
      </a>
    </li>
    <li>
      <%= link_to wizard_path(:over_view) do %>
        <i style="color: #2bc3cc;" class="fa fa-plus-circle"></i> New Course
      <% end %>
    </li>
  </ul>
  <h2>Topic</h2>
</div>
