

<!--<% comment.each do |comment| %>-->
<!--<div class="user-comment">-->
<!--    <div class="user-icon">-->
<!--        <%= image_tag('course_9.jpg') %>-->
<!--    </div>-->
<!--    <div class="user-right">-->
<!--        <div class="user-name">-->
<!--            <%= comment.customer.name %>-->
<!--        </div>-->
<!--        <div class="u-comment">-->
<!--            <%= comment.content %>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="comment_pin">-->
<!--        <i class="fa fa-check"></i>-->
<!--    </div>-->
<!--</div>-->
<!--<% end %>-->