<div class="footer">
  <div class="per_col">
    <div class="footer_logo_container">
      <a href="#">
        <div class="footer_logo_text">Edfective<span>ly</span></div>
      </a>
    </div>
    <div class="footer_about_text">
      <p>Best choice, best learning</p>
    </div>
    <div class="footer_social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="per_col">
    <div class="footer_title">Contact Us</div>
    <div class="footer_contact_info">
      <ul>
        <li>Email: edfectively@gmail.com</li>
        <li>Phone: 0345-666-656</li>
        <li>FPT University - Hoa Lac - Thach That - Ha Noi</li>
      </ul>
    </div>
  </div>
  <div class="per_col">
    <div class="footer_title">Contact Us</div>
    <div class="footer_links_container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
  </div>
  <div class="per_col">
    <div class="footer_title">Mobile</div>
    <div class="footer_mobile_content">
      <div class="footer_image">
        <a href="#"><%= image_tag('mobile_1.png') %></a>
      </div>
      <div class="footer_image">
        <a href="#"><%= image_tag('mobile_2.png') %></a>
      </div>
    </div>
  </div>

</div>