<div id="header">
  <div class="menu">
    <div class="logo">
      <a href="/home">
        <%= image_tag("logo_1.PNG") %>
        <span>Edfective</span><span style="color: #14bdee;">ly</span>
      </a>
    </div>
    <div class="search">
      <input type="text" placeholder="Search">
      <button>
        <%= image_tag("search.png") %>
      </button>
    </div>
    <div class="user">
      <%# <a class="login" href="login.html">Sign in</a> %>
      <%# <a class="signup" href="signup.html">Sign up</a> %>
    </div>

    <div class="user">
      <a href="/profile">
        <i class="fa fa-bell"></i>
      </a>
      <a href="profile.html" class="profile"><%= image_tag('1.jpg') %></a>
    </div>

  </div>
</div>