<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
      <a href="/home">
        <i style="color: #2bc3cc;" class="fa fa-home"></i> Home Page
      </a>
    </li>
    <% if !current_user.present? %>
      <li>
        <a href="login.html">
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> Sign up
        </a>
      </li>
      <li>
        <a href="signup.html">
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> Sign up
        </a>
      </li>
    <% else %>
      <li>
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> My courses
      </li>
    <% end %>
  </ul>
  <% if !current_user.present? %>
    <h2>Topic</h2>
    <ul class="top">
      <% topic.each do |topic| %>
        <li>
          <div>
            <%= link_to topic.name, show_topic_path(topic.id) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2>My Courses</h2>
    <ul class="top">
      <% topic.each do |topic| %>
        <li>
          <div>
            <%= link_to topic.name, show_topic_path(topic.id) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
