<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
      <% if !current_user.present? %>
      <a href="/home">
        <i style="color: #2bc3cc;" class="fa fa-home"></i> Home Page
      </a>
        <% else %>
        <a href="/user-home">
          <i style="color: #2bc3cc;" class="fa fa-home"></i> Home Page
        </a>
      <% end %>
    </li>
    <% if !current_user.present? %>
      <li>
        <%= link_to new_user_session_path do %>
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> Sign in
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> Sign up
        <% end %>
      </li>
    <% else %>
      <li>
        <a href="/customers_courses">
          <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> My Course
        </a>
      </li>
      <li>
        <i style="color: #2bc3cc;" class="fa fa-user-circle-o"></i> Your Course
      </li>
      <% course.each do |a| %>
        <li>
          <%= link_to a.name, course_path(a.slug) %>
        </li>
      <% end %>
    <% end %>

  </ul>

  <% if !current_user.present? %>
  <h2>Topics</h2>
  <ul class="top">
    <% data.each do |c| %>
      <li>
        <div>
          <%= link_to c.name, topic_path(c.slug) %>
        </div>
      </li>
    <% end %>
  </ul>
    <% else %>
  <% end %>
</div>
