<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
        <a href="/home">
          <i class="fa fa-home"></i> Home Page
        </a>
    </li>
    <li>
      <a href="/admin/customers">
        <i class="fa fa-home"></i> Manager account
      </a>
    </li>
    <li>
      <a href="/admin/courses">
        <i class="fa fa-home"></i> Manager Course
      </a>
    </li>
    <li>
      <a href="/admin/articles">
        <i class="fa fa-home"></i> Manager Article
      </a>
    </li>
  </ul>
</div>
