<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
      <a href="/admin/customers">
        Manager Account
      </a>
    </li>
    <li>
      <a href="/admin/courses">
        Manager Course
      </a>
    </li>
    <li>
      <a href="/admin/articles">
        Manager Article
      </a>
    </li>
  </ul>
</div>
<script>
    var url = "<%= url_for(only_path: false) %>";
    var li = document.getElementsByTagName('li');
    if (url.endsWith("customers")) {
        li[0].style.border = "2px solid #14bdee";
    } else if (url.endsWith("courses")) {
        li[1].style.border = "2px solid #14bdee";
    } else if (url.endsWith("articles")) {
        li[2].style.border = "2px solid #14bdee";
    }
</script>
