<head>
  <%= stylesheet_link_tag 'upload', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="process">
  <div class="process">
    <a href="#">
      <i class="fa fa-check-circle active" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </a>
  </div>
</div>