default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: capstone
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: 12345678

development:
  <<: *default
  database: capstone_develop

test:
  <<: *default
  database: capstone_test

production:
  <<: *default
  database: rails-efe_production
  username: rails-ede
  password: <%= ENV['EDF_PROJECT_DATABASE_PASSWORD'] %>
