<!DOCTYPE html>
<html>

<body>
<div class="main">
  <h2>Follow</h2>
  <ul class="top">
    <li>
      <a href="watch.html">

        <i class="fa fa-graduation-cap"></i> Java cơ bản
      </a>
    </li>
    <li>
      <a href="watch.html">

        <i class="fa fa-graduation-cap"></i> Java nâng cao đại học FPT
      </a>
    </li>
    <li>
      <a href="watch.html">

        <i class="fa fa-graduation-cap"></i> Angular js
      </a>
    </li>
    <li>
      <a href="watch.html">

        <i class="fa fa-graduation-cap"></i> Vue js
      </a>
    </li>
    <li class="show">
      <a href="mycourse.html">
        <i class="fa fa-sort-down"></i>Show all
      </a>
    </li>
  </ul>
  <h2>Hot Topic</h2>
  <ul id="topicSide" class="top">
    <li>
      <a href="course_of_topic.html">
        <i class="fa fa-graduation-cap"></i> Java
      </a>
    </li>
    <li>
      <a href="course_of_topic.html">
        <i class="fa fa-graduation-cap"></i> C
      </a>
    </li>
    <li>
      <a href="course_of_topic.html">
        <i class="fa fa-graduation-cap"></i> Business
      </a>
    </li>
    <li>
      <a href="course_of_topic.html">
        <i class="fa fa-graduation-cap"></i> Language
      </a>
    </li>
    <li>
      <a href="course_of_topic.html">
        <i class="fa fa-graduation-cap"></i> Center
      </a>
    </li>


  </ul>
</div>
<div class="right">
  <h1>Your Course</h1>
  <div id="exampleSlider">
    <div id="app1" class="MS-content">
      <div id="item" class="item">
        <div class="thumbnai">
          <a href="watch.html"> <img src="../images/java_script.jpg"></a>
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1 với anh trai đẹp gái nha các em zai quý mến
            </div>
            <p class="status">Progress (80%)</p>
            <progress max="100" value="80"></progress>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <a href="watch.html"> <img src="../images/java_script.jpg"></a>
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1 với anh trai đẹp gái nha các em zai quý mến
            </div>
            <p class="status">Progress (80%)</p>
            <progress max="100" value="80"></progress>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <a href="watch.html"> <img src="../images/java_script.jpg"></a>
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1 với anh trai đẹp gái nha các em zai quý mến
            </div>
            <p class="status">Progress (80%)</p>
            <progress max="100" value="80"></progress>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <a href="watch.html"> <img src="../images/java_script.jpg"></a>
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1 với anh trai đẹp gái nha các em zai quý mến
            </div>
            <p class="status">Progress (80%)</p>
            <progress max="100" value="80"></progress>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <a href="watch.html"> <img src="../images/java_script.jpg"></a>
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1 với anh trai đẹp gái nha các em zai quý mến
            </div>
            <p class="status">Progress (80%)</p>
            <progress max="100" value="80"></progress>
          </div>
        </div>
      </div>
    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <h1>Topic</h1>
  <div id="topic" class="topic">
    <a href="#">Java</a>
    <a href="#">C</a>
    <a href="#">C#</a>
    <a href="#">Business</a>
    <a href="#">Language</a>
    <a href="#">Stock</a>
    <a href="#">Front - end</a>
    <a href="#">Js frame work</a>
  </div>
  <h1>Recommend for you</h1>
  <!--    <div id="exampleSlider1">-->
  <!--      <div id="top" class="MS-content">-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div id="item" class="item">-->
  <!--          <div class="thumbnai">-->
  <!--            <img src="../images/khoa_Hoc4.png" alt="">-->
  <!--          </div>-->
  <!--          <div class="author">-->
  <!--            <div class="icon">-->
  <!--              <img src="../image/2.jpg" alt="">-->
  <!--            </div>-->
  <!--            <div class="title">-->
  <!--              <div class="name">-->
  <!--                Thiết kế Website bán hàng 1-->
  <!--              </div>-->
  <!--              <p>Trịnh Hoàn</p>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span class="fa fa-star checked"></span>-->
  <!--              <span>(100 enroll)</span>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--      </div>-->
  <!--      <div class="MS-controls">-->
  <!--        <button class="MS-left"><i class="fa fa-chevron-left"></i></i></button>-->
  <!--        <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>-->
  <!--      </div>-->
  <!--      <div class="MS-controls">-->
  <!--        <button class="MS-left"><i class="fa fa-chevron-left"></i></button>-->
  <!--        <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>-->
  <!--      </div>-->
  <!--    </div>-->
  <h1>Top Course</h1>
  <div id="exampleSlider2">
    <div id="top" class="MS-content">
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>

    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <h1>News Course</h1>
  <div id="exampleSlider3">
    <div id="top" class="MS-content">
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>
      <div id="item" class="item">
        <div class="thumbnai">
          <img src="../images/khoa_Hoc4.png" alt="">
        </div>
        <div class="author">
          <div class="icon">
            <img src="../image/2.jpg" alt="">
          </div>
          <div class="title">
            <div class="name">
              Thiết kế Website bán hàng 1
            </div>
            <p>Trịnh Hoàn</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span>(100 enroll)</span>
          </div>
        </div>
      </div>

    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="end">
  </div>
</div>
<script>
    window.addEventListener('click', function (e) {
        if (!document.getElementById('myBtn').contains(e.target)) {
            document.getElementById('notifications').style.display = "none"
        }
    });

    function myfunction() {
        if (document.getElementById('notifications').style.display == "none" ||
            document.getElementById('notifications').style.display == '') {
            document.getElementById('notifications').style.display = "block"
        } else {
            document.getElementById('notifications').style.display = "none"
        }
    }
</script>
<!-- <script src="../js/video.js"></script> -->
<script src="../js/jquery-2.2.4.min.js"></script>

<!-- Include Multislider -->
<script src="../js/multislider.min.js"></script>

<!-- Initialize element with Multislider -->
<script>
    $('#exampleSlider').multislider({
        interval: 100000,
        continuous: false
    });
    $('#exampleSlider1').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider2').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider3').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider4').multislider({
        interval: 100000,
        continuous: false

    });

</script>
</body>

</html>