.paging a {
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #2bc3cc;
    font-weight: bold;
    color: white;
    border: 1px solid #2bc3cc;
    line-height: 76px;
}

.paging a:first-child {
    margin-right: 5px;
    padding: 5px 25px;
}

.paging a:last-child {
    padding: 5px 25px;
}

.intro {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top span:last-of-type {
    font-weight: bold;
}

.top h1 {
    font-size: x-large;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.top button{
    border: 0;
    padding: 10px 20px;
    background-color: #14bdee;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro img {
    width: 30%;
    float: left;
    margin-right: 20px;
}
.intro span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}
.right progress {
    width: 300px;
}

.right .top {
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
    display: inline-block;
}

.per-course {
    display: flex;
    height: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 60%;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    border-radius: 15px;
}

.list-course {
    height: auto;
}

.c-left video {
    width: 150px;
    margin-right: 10px;
    height: 100%;
    border-radius: 15px;
}

.c-left {
    height: 84px;
    border-radius: 15px;
}

.c-right {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.c-right a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 20px;
    text-decoration: none;
    color: #273044;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 70%;
}

.c-right span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.name {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

.video_course {
    /* font-weight: bold; */
    font-size: 14px;
    margin: 0;
}

.top p {
    margin-bottom: 0;
    font-weight: bold;
    color: #2bc3cc;
}

.buttom h2 {
    width: 60%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
}

.skill_set {
    width: 1000px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    clear: both;
}

.skill_set h2 {
    margin: 0;
    display: inline-block;
    margin-left: 14px;
}

.skill_set span {
    background-color: #EBECED;
    padding: 10px 25px;
    color: black;
    border-radius: 18px;
    font-weight: normal !important;
}

.skill_set ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.skill_set ul li {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}