/*begin of global */

.MS-content {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border-right: none;
    width: 23.3%;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
}

.item:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}

.item:first-child {
    margin-left: 0px;
}

button:hover {
    cursor: pointer;
}

.MS-content {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}

.MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 40%;
    color: #14bdee;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 17px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.MS-controls button:hover {
    cursor: pointer;
}

.MS-left {
    left: 50px;
}

.MS-right {
    right: 70px;
}


/* end of global */


/* slide 1 */

#exampleSlider {
    width: 100%;
    position: relative;
    height: auto;
}

#exampleSlider1 {
    width: 100%;
    position: relative;
    height: auto;
}

#exampleSlider2 {
    width: 100%;
    position: relative;
    height: auto;
}

#exampleSlider3 {
    width: 100%;
    position: relative;
    height: auto;
}

#exampleSlider4 {
    width: 100%;
    position: relative;
    height: auto;
}

@media (max-width: 767px) {
    .MS-content {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .MS-content .item {
        width: 30%;
        margin: 20px;
    }
    #exampleSlider {
        width: 100%;
    }
    .MS-controls .MS-left {
        left: 50px;
    }
    .MS-controls .MS-right {
        right: -2px;
    }
}

@media (max-width: 991px) {
    .MS-content .item {
        width: 49%;
        margin: 20px;
    }
}

@media (max-width: 2560px) {
    .MS-left {
        left: 54px;
    }
    .MS-right {
        right: 52px;
    }
    .item {
        width: 23.4%;
    }
}

@media (max-width: 1440px) {
    .MS-left {
        left: 28px;
    }
    .MS-right {
        right: 30px;
    }
    .item {
        width: 23%;
    }
    .item .thumbnai img {
        height: 160px;
    }
}

@media (max-width: 1024px) {
    .MS-left {
        left: 10px;
    }
    .MS-right {
        right: 18px;
    }
    .item {
        width: 30%;
    }
    .item .thumbnai img {
        height: 160px;
    }
}