body {
    background-color: white;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
    color: #273044;
}

.container {
    width: 100%;
    height: auto;
    margin: -8px auto;
    position: relative;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: center;
}

.right {
    width: 88%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(249, 249, 249);
}

.right h1 {
    color: #273044;
    font-size: 25px;
    /* font-family: sans-serif; */
}

body::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (min-width: 768px) {
    .left {
        width: 210px;
    }
}

@media only screen and (max-width: 767px) {
    .left {
        display: none;
    }
}

.left ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.left ul a {
    text-decoration: none;
}

.left ul li {
    height: 50px;
    line-height: 50px;
    padding-left: 6%;
    font-size: 15px;
    font-weight: bold;
    color: #273044;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
}

.left ul li:hover {
    background-color: lightgray;
    font-weight: bold;
}

.left {
    height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
}

.left::-webkit-scrollbar {
    width: 6px;
    background-color: #f9f9f9;
}

.left::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 5px;
    background-color: #cfcfcf;
}

.right {
    height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right::-webkit-scrollbar {
    width: 6px;
    background-color: lightgrey;
}

.right::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

.top li a {
    color: #273044;
    vertical-align: middle;
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top li i {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 5px;
    color: #F69B58;
    width: 28px;
}

.top li a i {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 5px;
    color: #F69B58;
    width: 28px;
}

.show {
    text-align: left;
    padding-left: 0px !important;
}

.show a {
    margin-left: 25px;
    color: #F69B58;
}

.left h2 {
    color: #273044;
    padding-left: 12%;
}

.end {
    height: 200px;
}

.left ul li i {
    color: #14bdee;
}

.item img {
    width: 100%;
    height: 215px;
    border-radius: 5px;
    transition: transform .5s;
}

.item img:hover {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Safari 3-8 */
    transform: scale(1.15);
}

.thumbnai {
    overflow: hidden;
}

.thumbnai i {
    position: absolute;
    color: black;
    top: 0;
    left: 90%;
    z-index: 2;
    font-size: 30px;
    color: #14bdee;
}

.thumbnai video {
    width: 100%;
    height: 215px;
    border-radius: 5px;
}

.author {
    display: flex;
    margin-top: 5px;
    height: 120px;
}

.icon {
    width: 20%;
}

.name a {
    color: #273044;
    text-decoration: none;
}

.name {
    width: 95%;
    font-weight: bold;
    margin: 0;
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
     white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border-right: none;
    width: 23%;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    position: relative;
}

.item:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}

.item:first-child {
    margin-left: 0px;
}

.title {
    width: 80%;
    font-size: 16px;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.title p {
    font-size: 14px;
}

.title i {
    font-size: 25px;
    color: red;
    float: right;
    padding-right: 5px;
}

.title i:hover {
    font-size: 25px;
    color: red;
    float: right;
    padding-right: 5px;
}

.title span {
    font-weight: normal;
}

.icon img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.checked {
    color: #14bdee;
}

progress {
    width: 90%;
}

.status {
    margin-bottom: 0;
    color: #2bc3cc;
}

.topic {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 60px 60px;
    grid-gap: 20px;
    text-align: center;
    margin-left: 5%;
}

.topic a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 20%;
    background-color: #14bdee;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #14bdee;
}

.topic a:hover {
    background-color: white;
    color: #14bdee;
    border: 1px solid #14bdee;
}