.left {
    width: 12%;
}

.left ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.left ul li {
    height: 50px;
    line-height: 50px;
    padding-left: 10%;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
}


/* .top li:first-child{
    background-color: lightgray;
    font-weight: bold;
} */

.left ul li:hover {
    background-color: lightgray;
    font-weight: bold;
}

.left {
    height: 850px;
    overflow-y: scroll;
    font-size: 16px;
    font-family: "Sinkin Sans 500 Medium", Arial, Helvetica, sans-serif;
}

.left::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9f9;
}

.left::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cfcfcf;
}

.right {
    height: 1000px;
    overflow-y: scroll;
}

.right::-webkit-scrollbar {
    width: 5px;
    background-color: lightgrey;
}

.right::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

.top li i {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 5px;
    color: #2bc3cc;
    width: 28px;
}

.left h2 {
    color: #273044;
    padding-left: 12%;
}