.article-left img {
    /*height: 100%;*/
    width: 100%;
    height: 150px;
}

.article-left {
    overflow: hidden;
    margin-right: 15px;
    width: 40%;
    float: left;
}
.article-left video{
    width: 100%;
}
.article-right {
    width: 50%;
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    margin-top: 10px;
    float: left;
}
.article-right a{
    text-decoration: none;
    color: black;
}
.MS-content {
    height: auto;
    clear: both;
}

.right a.upload {
    float: right;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.right span {
    font-weight: bold;
    font-size: 20px;
}

.per_article {
    width: 48.8% !important;
}

.per_article_below {
    width: 31% !important;
    margin-top: 10px;
    height: 135px;
}

.per_article_below:nth-child(4) {
    margin-left: 0px;
}

.list-article {
    height: auto;
}

.paging_upload {
    margin-left: 40%;
}

.per_article i {
    font-size: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: black;
}
.paging_upload_article {
    margin-left: 40%;
    margin-top: 40px;
}

.paging_upload_article a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    color: #14bdee;
    border-radius: 30px;
}
.btn-save{
    font-size: 20px;
    font-weight: bold;
    display: block;
    max-width: fit-content;
    text-decoration: none;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    color: #14bdee;
    border-radius: 30px;
}
.btn-save i{
    font-size: 22px;
}