.right table {
    min-width: 90%;
    color: #454d55;
    background-color: white;
    border-collapse: collapse;
}
.right{
    padding-left: 5%;

}
.right table tr th {
    color: white;
    background-color: #454d55;
}

.right td {
    /* border-bottom: 1px solid white; */
    padding: 0;
    border-bottom: 1px solid lightslategray;

}

.right tr td:first-child {
    padding-left: 5px;
}

.right tr th:first-child {
    padding-left: 5px;
}

.right tr td a {
    padding: 3px 10px;
    background-color: #2bc3cc;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    color: white;
}

.right table tr {
    border-bottom: 1px solid lightslategray;
    height: 40px;
}

.right table tr th {
    text-align: left;
    height: 50px;
    padding: 0;
}


.paging {
    height: 100px;
    display: block;
}

.paging a {
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    font-weight: bold;
    color: white;
    border: 1px solid #2bc3cc;
    line-height: 76px;
}

.disabled{
    display: none;
    padding: 5px 25px;
    cursor: none;
    background-color: red !important;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #2bc3cc;
    line-height: 76px;
}

.paging .active{
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: #2bc3cc;
    border: 1px solid #2bc3cc;
    line-height: 76px;
}

.paging a:first-child {
    margin-right: 5px;
    padding: 5px 25px;
}

.paging a:last-child {
    padding: 5px 25px;
}
.paging a:first-child:hover {
    padding: 6px 25px;
    background-color: #1f9da3;
}

.paging a:last-child:hover {
    padding: 6px 25px;
    background-color: #1f9da3;
}

.right select {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    outline: white;
    margin-bottom: 20px;
}
.enable{
    padding: 3px 10px;
    background-color: #2bc3cc !important;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    color: white;
}
.disable{
    padding: 3px 10px;
    background-color: red !important;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    color: white;
}
.right select option {
    padding-top: 10px;
    height: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.right select option:hover {
    border: none;
    outline: none;
}

.per-course {
    display: flex;
    height: 200px;
    margin-bottom: 25px;
}

.list-course {
    height: auto;
}

.c-left img {
    width: 300px;
    height: 160px;
    margin-right: 10px;
}

.c-right {
    width: 60%;
}

.c-right h2 {
    margin-top: 0px;
}

.c-right span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden !important;
    display: block;
    line-height: 1.4em;
    height: 4.2em;
}

.name {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

.video_course {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.managerAccount {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: fit-content;
}