.menu {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 1%;
    height: 30px;
    width: 12%;
}

.logo img {
    height: 50px;
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}

.logo span {
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #384158;
}

.logo a {
    text-decoration: none;
    display: flex;
}

.search {
    min-width: fit-content;
    height: 35px;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 5px;
}

.search form {
    display: flex;
}

.search input {
    height: 35px;
    width: 450px;
    margin: 0;
    border: none;
    padding: 0;
    padding-left: 20px;
    border-right: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline-color: #14bdee;
}

.search button {
    height: 35px;
    width: 70px;
    margin: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}

.search button:hover {
    background-color: lightgrey;
}

.search button img {
    width: 20px;
    vertical-align: middle;
}

.user {
    height: 50px;
    width: 15%;
}

.user a {
    vertical-align: middle;
}

.user a i {
    line-height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 20px;
    color: #14bdee;
}

.user img {
    height: 40px;
    vertical-align: middle;
    border: 1px solid #14bdee;
    border-radius: 50%;
    margin-right: 20px;
}

.user a i {
    font-size: 25px;
}

.login {
    margin-right: 20px;
}

.login {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    background-color: #14bdee;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #14bdee;
}

.signup {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    background-color: #14bdee;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #14bdee;
}

.login:hover {
    /* background-color: white;
    color: #2bc3cc;
    border: 1px solid #14bdee; */
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.45);
}

.signup:hover {
    /* background-color: white;
    color: #2bc3cc;
    border: 1px solid #14bdee; */
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.45);
}


/* begin of notification */

#notifications {
    display: none;
    width: 330px;
    position: absolute;
    top: 30px;
    right: 77%;
    background: #FFF;
    border: solid 1px rgba(100, 100, 100, .20);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    z-index: 1;
}

#notifications:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #CCC;
    border-color: transparent transparent #FFF;
    margin-top: -20px;
    margin-left: 268px;
}

h3 {
    display: block;
    color: #333;
    background: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 8px;
    margin: 0;
    border-bottom: solid 1px rgba(100, 100, 100, .30);
}

.user {
    position: relative;
}


/* end of notification */