.menu-course {
    height: 50px;
}

.menu-course ul {
    list-style: none;
    height: auto;
    margin: 0;
}

.menu-course ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
}

.menu-course ul li a {
    text-decoration: none;
    color: #676767;
    line-height: 50px;
}

.menu-course ul li a:hover {
    text-decoration: none;
    color: #14bdee;
    line-height: 50px;
}

.menu-course .active {
    color: #14bdee;
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
}

.per-course {
    display: flex;
    height: auto;
    margin-bottom: 20px;
}

.list-course {
    height: auto;
}

.c-left img {
    width: 300px;
    height: 160px;
    margin-right: 10px;
}

.c-right {
    width: 60%;
}
.enroll_date{
    font-size: small;
}
.c-right a {
    color: #273044;
    text-decoration: none;
}

.c-right a i {
    float: right;
    color: #14bdee;
    font-size: 25px;
}

.c-right p {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.my-name {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    line-height: 1.4em;
    height: 2.8em;
}

.video_course {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.view {
    margin: 0;
}

.c-right h2 {
    margin: 0;
}

.paging {
    height: 100px;
}

.paging a {
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #2bc3cc;
    font-weight: bold;
    color: white;
    border: 1px solid #2bc3cc;
    line-height: 76px;
}

.paging a:first-child {
    margin-right: 5px;
    padding: 5px 25px;
}

.paging a:last-child {
    padding: 5px 25px;
}

.paging a:first-child:hover {
    padding: 6px 25px;
    background-color: #1f9da3;
}

.paging a:last-child:hover {
    padding: 6px 25px;
    background-color: #1f9da3;
}

.paging a:hover {
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1f9da3;
    font-weight: bold;
    border: 1px solid #1f9da3;
}

.end {
    height: 200px;
}