.profile {
    width: 60%;
    height: 700px;
    border: 1px dashed black;
    margin-top: 40px;
    margin-left: 40px;
    padding: 30px;
}

.avatar {
    display: flex;
}

.avatar img {
    width: 20%;
    border: 1px solid gray;
    border-radius: 5px;
}

.avatar button {
    border-radius: 5px;
    height: 30px;
    border: none;
    background-color: #F69B58;
    color: white;
    margin-top: 163px;
    margin-left: 20px;
}

.profile table tr td {
    height: 60px;
    vertical-align: middle;
    width: 200px;
}

.profile table {
    width: 40%;
    margin-bottom: 20px;
}

.profile table tr td input {
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
}

.profile table tr td::before {
    height: 50px;
    font-weight: bold;
}

.logout {
    padding: 15px 30px;
    background-color: #F69B58;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}