
.profile-page{
    width: 60%;
    height: 700px;
    border: 1px dashed black;
    margin-top: 50px;
    margin-left: 10%;
    /*margin-right: auto;*/
    text-align: center;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
}
.avatar {
    display: flex;
    padding: 50px;
}

.avatar img {
    /*width: 25%;*/
    height:200px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.avatar1{
    padding-bottom: 10px !important;
}
.change_button{
    padding: 2px 5px;
}
.avatar button {
    border-radius: 5px;
    height: 50px;
    border: none;
    background-color: #14bdee;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

.profile-page table tr td {
    height: 60px;
    vertical-align: middle;
    width: 250px;
}
.profile-page table tr th {
    text-align: left;
    width: 30%;
}
.profile-page table {
    width: 60%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.profile-page table tr td input {
    height: 30px;
    border: 1px solid #007bff;
    border-radius: 30px;
    padding: 6px 20px;
    background-color: #007bff;
    color: white;
    width: 250px;
    font-weight: bold;

}

.profile-page table tr td::before {
    height: 50px;
    font-weight: bold;
}

.logout {
    padding: 15px 30px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.logout1{
    border: none;
}
