.upload {
    margin-top: 20px;
    width: 80%;
    height: 600px;
    display: flex;
}

.upload-video {
    height: auto;
    margin-right: 20px;
}

.right button {
    background-color: #14bdee;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #14bdee;
    padding: 15px 40px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container_upload {
    margin-top: 20px;
    width: 80%;
    height: auto;
    display: flex;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    border-radius: 30px;
}

.container_upload:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}

.information-video h2 {
    margin-top: 0;
}

.video {
    width: 100%;
    height: 335px;
    border: 1px solid #42a7f5;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    /* line-height: 371px; */
    color: #14bdee;
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
    transition: transform .5s;
    overflow: hidden;
    position: relative
}

.video i {
    margin-top: 100px;
}

.video p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.video input {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.thum input {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.video:hover {
    /* transform: scale(1.5); */
    background-color: #14bdee;
    color: white;
}

.video i {
    font-size: 100px;
    /* transform: scale(1.5); */
}

.thum {
    width: 100%;
    height: 100px;
    border: 1px solid #42a7f5;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    /* line-height: 100px; */
    font-size: 34px;
    color: #14bdee;
    position: relative;
}

.thum i {
    margin-top: 20px;
}

.thum p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.thum:hover {
    /* transform: scale(1.5); */
    background-color: #14bdee;
    color: white;
}

.information-video {
    width: 50%;
    height: auto;
}

.information-video button {
    background-color: #14bdee;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #14bdee;
    padding: 15px 40px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.information-video .title {
    width: 90%;
    height: 60px;
    border: 1px solid #42a7f5;
    border-radius: 5px;
    outline: #42a7f5;
}

.information-video h2 {
    margin-bottom: 5px;
}

.upload-video h2 {
    margin-bottom: 5px;
}

.information-video .tag {
    width: 90%;
    height: 30px;
    border: 1px solid #42a7f5;
    border-radius: 5px;
    outline: #42a7f5;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.title_article {
    width: 90%;
    height: 25px;
    border-radius: 5px;
    outline: #42a7f5;
    border: 1px solid #42a7f5;
    font-size: 20px;
    padding: 10px;
}

.desc_article {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    outline: #42a7f5;
    border: 1px solid #42a7f5;
    font-size: 20px;
    padding: 10px;
}

.desc_course {
    width: 90%;
    height: 150px;
    border-radius: 5px;
    outline: #42a7f5;
    border: 1px solid #42a7f5;
    font-size: 20px;
    padding: 10px;
}

.create_course {
    width: 60%;
}

.create_course .thum {
    width: 30%;
}

.create_course h2 {
    margin-bottom: 5px;
}

select {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    outline: white;
}

.create_course button {
    background-color: #14bdee;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #14bdee;
    padding: 15px 40px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

select option {
    padding-top: 10px;
    height: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
}

select option:hover {
    border: none;
    outline: none;
}

.per_row {
    display: flex;
    height: auto;
    margin-top: 20px;
}

.per_row_article {
    display: flex;
    height: auto;
    margin-bottom: 20px;
}

.row-left {
    width: 30%;
}

.row-right {
    width: 70%;
}

.container_input {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 0 !important;
}


/* Hide the browser's default checkbox */

.container_input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container_input:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container_input input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container_input input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container_input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.process {
    height: 40px;
    font-size: 25px;
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 10px auto;
}

.process i.active {
    color: #14bdee;
}

.process a {
    color: lightgray;
}