.main-watch {
    margin: 20px auto;
    width: 85%;
    height: auto;
    display: flex;
}

.watch video {
    width: 96%;
    height: auto;
}

.watch {
    width: 70%;
    height: auto;
}

.list {
    width: 30%;
    height: auto;
}

.list-video ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-video ul li {
    display: flex;
    margin-bottom: 5px;
}
.l-left{
    position: relative;
}
.l-left {
    width: 35%;
    margin-right: 10px;
    height: 90px;
}

.l-left video {
    width: 100%;
    height: 90px;
    border-radius: 5px;
}

.l-left img {
    width: 100%;
    height: 90px;
    border-radius: 5px;
}

.l-right {
    width: 60%;
}
.l-right i{
    color: #14bdee;
    float: right;
}

.l-title {
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
    width: 92%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
}
.l-title a{
    color: #2E2F30;
    text-decoration: none;
}
l-title i{
    float: right;
}

.l-author {
    margin-top: 15px;
    font-family: roboto;
    color: #606060;
}

.l-view {
    margin-top: 5px;
    font-family: roboto;
    color: #606060;
}

.list-video {
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 50px;
    border-bottom: 2px solid linen;
    border-top: 2px solid linen;
    padding-top: 20px;
}

.list-video:last-child {
    height: 800px;
}

.list-video::-webkit-scrollbar {
    width: 6px;
    background-color: #f9f9f9;
}

.list-video::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cfcfcf;
}

.comment {
    width: 96%;
    height: 600px;
}

.list h1 {
    color: peru;
}

.w-title {
    padding-top: 20px;
    height: auto;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    width: 96%;
}

.w-title h2 {
    margin: 0px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.w-description {
    display: flex;
    padding-top: 5px;
    border-bottom: 1px solid lightgrey;
    width: 96%;
    margin-bottom: 50px;
    margin-top: 15px;
}

.w-icon {
    width: 8%;
    border-radius: 50%;
}

.w-icon img {
    width: 60px;
    height: 60px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

.w-author {
    width: 90%;
}

.w-author h2 {
    font-size: 20px;
    margin-top: 0;
}

.w-author p {
    font-size: 16px;
}

.user-comment {
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: auto;
    cursor: pointer;
}

.account-input {
    width: 100%;
    display: flex;
    margin-top: 10px;
    height: auto;
}

.user-input {
    width: 90%;
    height: auto;
}

.user-input input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
}

.user-input input[type=text]:focus {
    border-bottom: 2px solid #14bdee;
}

.user-input input[type=submit] {
    float: right;
    padding: 10px 20px;
    background-color: #14bdee;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #14bdee;
    margin-top: 10px;
    cursor: pointer;
}

.user-input input[type=button] {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #14bdee;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #14bdee;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 85px;
}

.user-icon img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
}

.user-right {
    width: 90%;
}

.user-comment:hover .comment_pin {
    display: block;
}

.pin {
    color: dodgerblue;
    font-family: "Big Caslon"
}

.comment_pin {
    width: 10px;
    color: black;
    line-height: 50px;
    display: none;
    margin-left: 40px;
}

.user-name {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.u-comment {
    font-size: 15px;
    font-family: sans-serif;
}

.list h1 {
    color: #2bc3cc;
}

.user-input form button {
    float: right;
}
.fa-check-circle{
    position: absolute;
    color: #2bc3cc;
    left: 85%;
    display: none;
    font-size: 20px;
}